# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/.vs/
/.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.unityproj
*.apk
*.aab
sysinfo.txt
crashlytics-build.gradle
# OS
.DS_Store
Thumbs.db
